<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrderManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrderManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OrderManager.Properties.Settings>
            <setting name="ClientId" serializeAs="String">
                <value>bf456c01-9487-4af9-a061-315860e0d5d7</value>
            </setting>
            <setting name="Scopes" serializeAs="String">
                <value>Calendars.ReadWrite;Calendars.ReadWrite.Shared;User.Read</value>
            </setting>
        </OrderManager.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <OrderManager.Properties.Settings>
            <setting name="TenantId" serializeAs="String">
                <value>f8cdef31-a31e-4b4a-93e4-5f571e91255a</value>
            </setting>
        </OrderManager.Properties.Settings>
    </userSettings>
</configuration>